*{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
  font-size: 17px;
  color:#333333;
  line-height: 1.6;
  background-color: rgb(245, 245, 245);
}
textarea {
  margin-top: 10px;
  resize: none;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 5px;
  font-size:1rem;
}
h1 {
  color:#6f6ab9;
  text-align: center;
}
.btn {
  cursor: pointer;
  padding: 0.7rem;
  min-width:120px;
  font-size:1rem;
  color:white;
  border:none;
  background-color: #6f6ab9;
  border-radius:50px;
}
.error {
  color: rgb(255, 46, 46);
}
.posts {
  max-width:55%;
  min-width: 484px;
  margin:auto;
  overflow: hidden;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  margin-top:2%;
  margin-bottom:0%;
  background-color:white;
  border-radius:5px;
  border: 1px solid rgb(225, 225, 225);
}
.postItem{
  border-bottom: 0.5px solid lightgray;
  margin-top: 10px;

}
.postItem button{
  cursor:pointer;
  font-size:1rem;
  color:#6f6ab9;
  border:none;
  background-color: transparent; 
  padding: 0%;
}
.postUser div{
  display:inline;
  margin-left: 0.5rem;
}
.postUser div:hover{
  text-decoration: underline;
  cursor: pointer;
}
.postUser img {
  border-radius: 50%;
}
.postImg{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 200px;
  margin-bottom:1rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.postTitle {
  font-size: 1.5rem;
  color:#141414;
  font-weight: bold;
}
.postTitle:hover{
  color: #6f6ab9;
}
.loginForm {
  width:40%;
  min-width: 450px;
  margin:auto;
  overflow: hidden;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:20px;
  padding-right:20px;
  margin-top:3%;
  margin-bottom:0%;
  background-color: white;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.profileForm {
  width:40%;
  min-width: 450px;
  margin:auto;
  overflow: hidden;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:20px;
  padding-right:20px;
  margin-top:3%;
  margin-bottom:0%;
  background-color: white;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.loginForm input {
  display:block;
  margin:auto;
  width: 70%;
  min-width: 350px;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius:5px;
  background-color: white;
  color:#141414;
}
.profileForm input[type='text'] {
  display:block;
  margin:auto;
  width: 70%;
  min-width: 350px;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius:5px;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: white;
  color:#141414;
}
.loginForm p {
  min-width: 350px;
  margin:auto;
  width: 70%;
  margin-bottom: 4%;
}
.loginForm .btn {
  display: block;
  margin:auto;
  margin-bottom: 4%;
}
.navbar { 
  height:70px;
  display: flex;  
  position: sticky;  
  align-items: center; 
  justify-content: space-between;
  top: 0px; 
  background-color: white;
  border-bottom: 2px solid #6f6ab9;
  width:100%;
  flex-wrap: nowrap;
  padding-right: 20px;
  padding-left: 20px;
} 
.navbar ul {
  display: flex;
  flex-wrap: nowrap;
}
.navInner {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  flex-wrap: nowrap;
}
.navbar form {
  display: flex;
}
.navbar input {
  border: 1px solid grey; 
  font-size:1.1rem;
  border-bottom-left-radius: 10px; 
  border-top-left-radius: 10px; 
  color:#141414;
  padding:5px;
  background-color: white;
}
.navbar button {
  padding:5px;
  background-color: white;
  font-size:1.1rem;
  border-left: none;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
  border: 1px solid grey; 
  cursor:pointer; 
}
.navbar li {
  list-style: none; 
  text-decoration: none;
  padding-right: 20px;
  font-size: 20px; 
}
.navLink {
  color:#6f6ab9;
  text-decoration: none;
  
}
.navbar h1 {
  padding-right: 20px;
}
.navLink:hover {
  color:#141414;
}